.secDiv {
  width: 35rem;
  border-radius: 0.5rem;
  border-top: 0.4rem solid;
  box-shadow: 1rem 1rem 1rem 1rem hwb(207 64% 32% / 0.382);
  position: relative;
  padding: 2rem;
}
.sectionIcons {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
h2 {
  color: hsl(234, 12%, 34%);
}

P {
  color: hsl(229, 6%, 66%);
  padding-bottom: 8rem;
}
