.secDiv {
  width: 350px;
  /* height: 250px; */
  border-radius: 5px;
  border-top: 4px solid;
  box-shadow: 10px 10px 10px 10px hwb(207 64% 32% / 0.382);
  position: relative;
  padding: 20px;
}
.sectionIcons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
h2 {
  color: hsl(234, 12%, 34%);
}

P {
  color: hsl(229, 6%, 66%);
  padding-bottom: 100px;
}
