.App {
  text-align: center;
  margin: 8rem auto 6.5rem;
  width: 54rem;
  padding: 0 2rem;
}

h1 {
  color: hsl(234, 12%, 34%);
}
.firstH1 {
  font-weight: lighter;
}

.sections {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
}
.sectionMidle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width: 1440px) {
  .sections {
    flex-direction: column;
  }
  .secDiv {
    width: 31rem;
  }
}
